# Supabase — DEV pro lokální vývoj, PROD pro Vercel deploy
# Najdeš v Supabase dashboardu → Connect (nahoře)
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
